<div class="container-fluid">
  <h1>Timer</h1>


  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.tV5Q_JEmOvzDqggKAd1YpAHaFj%26pid%3DApi&f=1">



  <div class="row">
    <div class="col-md-10 mx-auto">


      <p class="h5 text-center my-3">
        Insira o intervalo de tempo para a contagem do temporizador abaixo
      </p>


      <div id="tabela">
        <table>
          <thead>
            <th>Intervalo</th>
            <th>Referência</th>

          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>milissegundo</td>
            </tr>
            <tr>
              <td>100</td>
              <td>milésimo</td>
            </tr>
            <tr>
              <td>1000</td>
              <td>segundo</td>
            </tr>
          </tbody>
        </table>
      </div>

      <br>

      <p class="h1">
        <span class="badge bg-dark">{{timer.getCounter()}}</span>
      </p>


      <label class="form-label h5">
  <input
  #tempo
    class="form-control my-2"
    type="number"
    step="1"
    min="1"
  />
</label>

      <br>

      <div class=container>

        <div class="row">


          <div class="d-grid gap-2 col-3">
            <button
      class="btn btn-success"
      (click)="timer.startCounter(tempo.value); tempo.value=''">
        Iniciar
    </button>

          </div>

          <div class="d-grid gap-2 col-3">
            <button class="btn btn-danger" (click)="timer.stopCounter()">
     Parar
    </button>
          </div>

        </div>
        <br>

        <div class="row">
          <div class="d-grid gap-2 col-3">
            <button class="btn btn-light" (click)="timer.resetCounter()">
        Reiniciar
      </button>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>